#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* responsive style for small device */

@media screen and (max-width:425px) {

  #root{
    padding: 20px;
  }
 
  }
